USE [master]
GO
/****** Object:  Database [GoBikeDB]    Script Date: 7/2/2026 10:22:25 AM ******/
CREATE DATABASE [GoBikeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GoBikeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GoBikeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GoBikeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GoBikeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GoBikeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GoBikeDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/2/2026 10:22:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 7/2/2026 10:22:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[CCCD] [nvarchar](12) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[DriverLicenseNo] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceRecords]    Script Date: 7/2/2026 10:22:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MotorcycleId] [int] NOT NULL,
	[RentalContractId] [int] NULL,
	[Reason] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[RepairCost] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[CreatedByUserId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedByUserId] [int] NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_MaintenanceRecords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motorcycles]    Script Date: 7/2/2026 10:22:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motorcycles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LicensePlate] [nvarchar](20) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[VehicleTypeId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Color] [nvarchar](30) NOT NULL,
	[Mileage] [int] NOT NULL,
	[RegistrationNo] [nvarchar](20) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Motorcycles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MotorcycleTypes]    Script Date: 7/2/2026 10:22:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MotorcycleTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DefaultDailyRate] [decimal](18, 2) NOT NULL,
	[DefaultDepositAmount] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_MotorcycleTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalContracts]    Script Date: 7/2/2026 10:22:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalContracts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[MotorcycleId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[ActualReturnDate] [datetime2](7) NULL,
	[DailyPrice] [decimal](18, 2) NOT NULL,
	[RentalDays] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[DepositAmount] [decimal](18, 2) NOT NULL,
	[LateDays] [int] NOT NULL,
	[LateFee] [decimal](18, 2) NOT NULL,
	[DamageFee] [decimal](18, 2) NOT NULL,
	[DamageDescription] [nvarchar](500) NULL,
	[OtherFee] [decimal](18, 2) NOT NULL,
	[OtherFeeDescription] [nvarchar](500) NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[DiscountReason] [nvarchar](500) NULL,
	[FinalAmount] [decimal](18, 2) NOT NULL,
	[RemainingAmount] [decimal](18, 2) NOT NULL,
	[AdditionalPaymentAmount] [decimal](18, 2) NOT NULL,
	[RefundAmount] [decimal](18, 2) NOT NULL,
	[CancellationFee] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedByUserId] [int] NULL,
	[UpdatedByUserId] [int] NULL,
	[CompletedAt] [datetime2](7) NULL,
	[CompletedByUserId] [int] NULL,
	[CancelledAt] [datetime2](7) NULL,
	[CancelledByUserId] [int] NULL,
	[CancellationReason] [nvarchar](500) NULL,
	[NoShowAt] [datetime2](7) NULL,
	[NoShowByUserId] [int] NULL,
	[NoShowReason] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_RentalContracts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalInspections]    Script Date: 7/2/2026 10:22:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalInspections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RentalContractId] [int] NOT NULL,
	[InspectionType] [int] NOT NULL,
	[Mileage] [int] NOT NULL,
	[FuelLevel] [nvarchar](50) NOT NULL,
	[VehicleCondition] [nvarchar](500) NOT NULL,
	[HasDamage] [bit] NOT NULL,
	[DamageDescription] [nvarchar](500) NULL,
	[AccessoriesNote] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedByUserId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RentalInspections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalPayments]    Script Date: 7/2/2026 10:22:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalPayments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RentalContractId] [int] NOT NULL,
	[PaymentType] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [int] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedByUserId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RentalPayments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/2/2026 10:22:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Role] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [FullName], [CCCD], [PhoneNumber], [Email], [Address], [DateOfBirth], [DriverLicenseNo], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Nguyễn Văn Minh', N'079206000001', N'0912345678', N'minh.nguyen@example.com', N'Quận 1, TP.HCM', CAST(N'1996-04-12T00:00:00.0000000' AS DateTime2), N'GPLX000001', 1, CAST(N'2026-07-01T16:50:23.5883002' AS DateTime2), NULL)
INSERT [dbo].[Customers] ([Id], [FullName], [CCCD], [PhoneNumber], [Email], [Address], [DateOfBirth], [DriverLicenseNo], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Trần Hoàng Anh', N'079206000002', N'0923456789', N'anh.tran@example.com', N'Quận Bình Thạnh, TP.HCM', CAST(N'1994-09-25T00:00:00.0000000' AS DateTime2), N'GPLX000002', 1, CAST(N'2026-07-01T16:50:23.5883002' AS DateTime2), NULL)
INSERT [dbo].[Customers] ([Id], [FullName], [CCCD], [PhoneNumber], [Email], [Address], [DateOfBirth], [DriverLicenseNo], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Lê Mai Phương', N'079206000003', N'0934567890', N'phuong.le@example.com', N'Thủ Đức, TP.HCM', CAST(N'1998-01-18T00:00:00.0000000' AS DateTime2), N'GPLX000003', 1, CAST(N'2026-07-01T16:50:23.5893456' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Motorcycles] ON 

INSERT [dbo].[Motorcycles] ([Id], [LicensePlate], [Brand], [Model], [VehicleTypeId], [Status], [Color], [Mileage], [RegistrationNo], [ImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'51A-12001', N'Honda', N'Wave Alpha', 1, 2, N'Đen', 12500, N'REG-XS-001', N'/uploads/motorcycles/81e38c37f59e4cae83eaa8a1e4ee2332.webp', 1, CAST(N'2026-07-01T16:50:23.6003237' AS DateTime2), CAST(N'2026-07-02T10:15:23.9002641' AS DateTime2))
INSERT [dbo].[Motorcycles] ([Id], [LicensePlate], [Brand], [Model], [VehicleTypeId], [Status], [Color], [Mileage], [RegistrationNo], [ImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'51A-12002', N'Honda', N'Future', 1, 1, N'Bạc', 8200, N'REG-XS-002', N'/uploads/motorcycles/d52a244e3c3549ba8da4d3b471190371.jpg', 1, CAST(N'2026-07-01T16:50:23.6003237' AS DateTime2), CAST(N'2026-07-01T23:51:23.5762334' AS DateTime2))
INSERT [dbo].[Motorcycles] ([Id], [LicensePlate], [Brand], [Model], [VehicleTypeId], [Status], [Color], [Mileage], [RegistrationNo], [ImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'51A-12003', N'Yamaha', N'Sirius', 1, 1, N'Đỏ', 9400, N'REG-XS-003', N'/uploads/motorcycles/f09cdd12ab4d4fc9b655ce351a5e5b9c.jpg', 1, CAST(N'2026-07-01T16:50:23.6003237' AS DateTime2), CAST(N'2026-07-01T23:51:32.3230580' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Motorcycles] OFF
GO
SET IDENTITY_INSERT [dbo].[MotorcycleTypes] ON 

INSERT [dbo].[MotorcycleTypes] ([Id], [Name], [Description], [DefaultDailyRate], [DefaultDepositAmount], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Xe số', N'Xe số phổ thông, tiết kiệm xăng, dễ vận hành.', CAST(100000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), 1, CAST(N'2026-07-01T16:50:23.5893456' AS DateTime2), NULL)
INSERT [dbo].[MotorcycleTypes] ([Id], [Name], [Description], [DefaultDailyRate], [DefaultDepositAmount], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Xe ga', N'Xe tay ga tiện dụng cho di chuyển trong thành phố.', CAST(150000.00 AS Decimal(18, 2)), CAST(800000.00 AS Decimal(18, 2)), 1, CAST(N'2026-07-01T16:50:23.5893456' AS DateTime2), NULL)
INSERT [dbo].[MotorcycleTypes] ([Id], [Name], [Description], [DefaultDailyRate], [DefaultDepositAmount], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Xe côn', N'Xe côn tay dành cho khách có kinh nghiệm lái.', CAST(220000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), 1, CAST(N'2026-07-01T16:50:23.5893456' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[MotorcycleTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[RentalContracts] ON 

SET IDENTITY_INSERT [dbo].[RentalContracts] OFF
GO
SET IDENTITY_INSERT [dbo].[RentalPayments] ON 

INSERT [dbo].[RentalPayments] ([Id], [RentalContractId], [PaymentType], [Amount], [PaymentMethod], [Note], [CreatedByUserId], [CreatedAt]) VALUES (1, 1, 1, CAST(1000000.00 AS Decimal(18, 2)), 1, NULL, 2, CAST(N'2026-07-02T10:14:46.3193629' AS DateTime2))
INSERT [dbo].[RentalPayments] ([Id], [RentalContractId], [PaymentType], [Amount], [PaymentMethod], [Note], [CreatedByUserId], [CreatedAt]) VALUES (2, 2, 1, CAST(500000.00 AS Decimal(18, 2)), 1, NULL, 2, CAST(N'2026-07-02T10:15:23.9376751' AS DateTime2))
INSERT [dbo].[RentalPayments] ([Id], [RentalContractId], [PaymentType], [Amount], [PaymentMethod], [Note], [CreatedByUserId], [CreatedAt]) VALUES (3, 3, 1, CAST(800000.00 AS Decimal(18, 2)), 1, NULL, 2, CAST(N'2026-07-02T10:15:41.5464955' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RentalPayments] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [PhoneNumber], [Role], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin', N'$2a$11$lMqfmiF3EgZwarF3lGK51e468xYPMGok7Y8EORMpbap3bnSQifizu', N'Admin User', N'admin@gobike.local', N'0900000001', 1, 1, CAST(N'2026-07-01T16:50:23.5872997' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Email], [PhoneNumber], [Role], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'staff', N'$2a$11$A3f7f8EaEqUDjYFlrSDuJuWb5dz5q3nc5AKrwArSG8zGTIyifUpbm', N'Staff User', N'staff@gobike.local', N'0900000002', 2, 1, CAST(N'2026-07-01T16:50:23.5883002' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_CCCD]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Customers_CCCD] ON [dbo].[Customers]
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_DriverLicenseNo]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Customers_DriverLicenseNo] ON [dbo].[Customers]
(
	[DriverLicenseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceRecords_CreatedByUserId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRecords_CreatedByUserId] ON [dbo].[MaintenanceRecords]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceRecords_MotorcycleId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRecords_MotorcycleId] ON [dbo].[MaintenanceRecords]
(
	[MotorcycleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceRecords_RentalContractId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRecords_RentalContractId] ON [dbo].[MaintenanceRecords]
(
	[RentalContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceRecords_UpdatedByUserId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRecords_UpdatedByUserId] ON [dbo].[MaintenanceRecords]
(
	[UpdatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Motorcycles_LicensePlate]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Motorcycles_LicensePlate] ON [dbo].[Motorcycles]
(
	[LicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Motorcycles_RegistrationNo]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Motorcycles_RegistrationNo] ON [dbo].[Motorcycles]
(
	[RegistrationNo] ASC
)
WHERE ([RegistrationNo] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Motorcycles_VehicleTypeId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_Motorcycles_VehicleTypeId] ON [dbo].[Motorcycles]
(
	[VehicleTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MotorcycleTypes_Name]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MotorcycleTypes_Name] ON [dbo].[MotorcycleTypes]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalContracts_CancelledByUserId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_RentalContracts_CancelledByUserId] ON [dbo].[RentalContracts]
(
	[CancelledByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalContracts_CompletedByUserId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_RentalContracts_CompletedByUserId] ON [dbo].[RentalContracts]
(
	[CompletedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalContracts_CreatedByUserId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_RentalContracts_CreatedByUserId] ON [dbo].[RentalContracts]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalContracts_CustomerId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_RentalContracts_CustomerId] ON [dbo].[RentalContracts]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalContracts_MotorcycleId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_RentalContracts_MotorcycleId] ON [dbo].[RentalContracts]
(
	[MotorcycleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalContracts_NoShowByUserId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_RentalContracts_NoShowByUserId] ON [dbo].[RentalContracts]
(
	[NoShowByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalContracts_UpdatedByUserId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_RentalContracts_UpdatedByUserId] ON [dbo].[RentalContracts]
(
	[UpdatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalInspections_CreatedByUserId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_RentalInspections_CreatedByUserId] ON [dbo].[RentalInspections]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalInspections_RentalContractId_InspectionType]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RentalInspections_RentalContractId_InspectionType] ON [dbo].[RentalInspections]
(
	[RentalContractId] ASC,
	[InspectionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalPayments_CreatedByUserId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_RentalPayments_CreatedByUserId] ON [dbo].[RentalPayments]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RentalPayments_RentalContractId]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_RentalPayments_RentalContractId] ON [dbo].[RentalPayments]
(
	[RentalContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 7/2/2026 10:22:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MaintenanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRecords_Motorcycles_MotorcycleId] FOREIGN KEY([MotorcycleId])
REFERENCES [dbo].[Motorcycles] ([Id])
GO
ALTER TABLE [dbo].[MaintenanceRecords] CHECK CONSTRAINT [FK_MaintenanceRecords_Motorcycles_MotorcycleId]
GO
ALTER TABLE [dbo].[MaintenanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRecords_RentalContracts_RentalContractId] FOREIGN KEY([RentalContractId])
REFERENCES [dbo].[RentalContracts] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[MaintenanceRecords] CHECK CONSTRAINT [FK_MaintenanceRecords_RentalContracts_RentalContractId]
GO
ALTER TABLE [dbo].[MaintenanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRecords_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MaintenanceRecords] CHECK CONSTRAINT [FK_MaintenanceRecords_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[MaintenanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRecords_Users_UpdatedByUserId] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MaintenanceRecords] CHECK CONSTRAINT [FK_MaintenanceRecords_Users_UpdatedByUserId]
GO
ALTER TABLE [dbo].[Motorcycles]  WITH CHECK ADD  CONSTRAINT [FK_Motorcycles_MotorcycleTypes_VehicleTypeId] FOREIGN KEY([VehicleTypeId])
REFERENCES [dbo].[MotorcycleTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Motorcycles] CHECK CONSTRAINT [FK_Motorcycles_MotorcycleTypes_VehicleTypeId]
GO
ALTER TABLE [dbo].[RentalContracts]  WITH CHECK ADD  CONSTRAINT [FK_RentalContracts_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentalContracts] CHECK CONSTRAINT [FK_RentalContracts_Customers_CustomerId]
GO
ALTER TABLE [dbo].[RentalContracts]  WITH CHECK ADD  CONSTRAINT [FK_RentalContracts_Motorcycles_MotorcycleId] FOREIGN KEY([MotorcycleId])
REFERENCES [dbo].[Motorcycles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentalContracts] CHECK CONSTRAINT [FK_RentalContracts_Motorcycles_MotorcycleId]
GO
ALTER TABLE [dbo].[RentalContracts]  WITH CHECK ADD  CONSTRAINT [FK_RentalContracts_Users_CancelledByUserId] FOREIGN KEY([CancelledByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RentalContracts] CHECK CONSTRAINT [FK_RentalContracts_Users_CancelledByUserId]
GO
ALTER TABLE [dbo].[RentalContracts]  WITH CHECK ADD  CONSTRAINT [FK_RentalContracts_Users_CompletedByUserId] FOREIGN KEY([CompletedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RentalContracts] CHECK CONSTRAINT [FK_RentalContracts_Users_CompletedByUserId]
GO
ALTER TABLE [dbo].[RentalContracts]  WITH CHECK ADD  CONSTRAINT [FK_RentalContracts_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RentalContracts] CHECK CONSTRAINT [FK_RentalContracts_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[RentalContracts]  WITH CHECK ADD  CONSTRAINT [FK_RentalContracts_Users_NoShowByUserId] FOREIGN KEY([NoShowByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RentalContracts] CHECK CONSTRAINT [FK_RentalContracts_Users_NoShowByUserId]
GO
ALTER TABLE [dbo].[RentalContracts]  WITH CHECK ADD  CONSTRAINT [FK_RentalContracts_Users_UpdatedByUserId] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RentalContracts] CHECK CONSTRAINT [FK_RentalContracts_Users_UpdatedByUserId]
GO
ALTER TABLE [dbo].[RentalInspections]  WITH CHECK ADD  CONSTRAINT [FK_RentalInspections_RentalContracts_RentalContractId] FOREIGN KEY([RentalContractId])
REFERENCES [dbo].[RentalContracts] ([Id])
GO
ALTER TABLE [dbo].[RentalInspections] CHECK CONSTRAINT [FK_RentalInspections_RentalContracts_RentalContractId]
GO
ALTER TABLE [dbo].[RentalInspections]  WITH CHECK ADD  CONSTRAINT [FK_RentalInspections_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RentalInspections] CHECK CONSTRAINT [FK_RentalInspections_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[RentalPayments]  WITH CHECK ADD  CONSTRAINT [FK_RentalPayments_RentalContracts_RentalContractId] FOREIGN KEY([RentalContractId])
REFERENCES [dbo].[RentalContracts] ([Id])
GO
ALTER TABLE [dbo].[RentalPayments] CHECK CONSTRAINT [FK_RentalPayments_RentalContracts_RentalContractId]
GO
ALTER TABLE [dbo].[RentalPayments]  WITH CHECK ADD  CONSTRAINT [FK_RentalPayments_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RentalPayments] CHECK CONSTRAINT [FK_RentalPayments_Users_CreatedByUserId]
GO
USE [master]
GO
